#IssueCollector
	{
	border: 1px solid #aaa;
	border-right: 0;
	border-bottom: 0; 
	border-radius: 9px 0px;
	padding: 0.5em 0.25em 0.4em 0.7em; 
	position: fixed; right: 0; bottom: 0;
	background-color: white; 
	}

#afterLecture
	{
	margin-top: 1em; 
	}

#blurb_Panel
	{
	clear: both;
	}

#InstructorPanel
	{
	clear: both;
	}

.jwshortjumpback, .jwjumpback, .jwshortjump, .jwjump
	{
	margin-left: 5px !important;
	margin-right: 5px !important;
	}

#afterLecture #controls
	{
	float: left; 
	}

#afterLecture #controls div.control
	{
	float: left; 
	padding: 3px; 
	clear: left; 
	}

#afterLecture #controls div.control:first-child
	{
	padding-top: 0; 
	}

#afterLecture #controls div.control:last-child
	{
	padding-bottom: 0; 
	}

#speedcontrol #currentspeed
	{
	margin: 4px; 
	}

#speedcontrol button
	{
	margin-right: 0px; 
	padding: 4px 8px; 
	}

#mediaspace_logo
	{
	display: none; 
	left: -1000px;
	top: -1000px; 
	}

#mediaspace
	{
	background-color: #111 !important;
	}

#mediaspace, div.jw-captions
	{
	overflow: visible;
	}

#mediaspace div.jw-text-track-container
	{
	top: auto !important;
	bottom: 0px !important; 
	margin: 0 1.5% !important;
	}

#mediaspace.captions-top div.jw-text-track-container
	{
	top: 80px !important;
	bottom: auto !important; 
	}

#mediaspace.captions-above div.jw-text-track-container
	{
	top: 0px !important;
	bottom: auto !important; 
	}

#mediaspace.captions-below div.jw-text-track-container
	{
	top: auto !important;
	bottom: -80px !important; 
	}


#mediaspace div.jw-text-track-display
	{
	bottom: 0px !important;
	top: auto !important;
	}

#mediaspace div.jw-captions
	{
	font-size: 30px !important;
	line-height: 37px !important;
	}

#mediaspace.captions-above 
	{
	border-top: 85px solid black; 
	}

#mediaspace.captions-below 
	{
	border-bottom: 85px solid black; 
	}

#mediaspace.captions-below div.jw-text-track-display
	{
	bottom: -77px; 
	height: 77px;
	background-color: black;
	}

#mediaspace.captions-below div.jw-captions
	{
	max-height: 100%;
	}

#mediaspace.captions-above div.jw-text-track-display
	{
	top: -77px; 
	height: 77px;
	background-color: black;
	}

div.captionAnchor.calloutAnchor div.callout,
div.reportProblemAnchor.calloutAnchor div.callout
	{
	display: block;
	}

div.help span.captionhelp
	{
	display: none;
	}

div.captionable div.help span.captionhelp
	{
	display: inline;
	}

li div.updatePanel
	{
	display: inline;
	}

/* try to hide the controls when they're not needed: User is inactive, mouse is not over video */
.media-video .jw-controls,
.media-video .jw-controls-backdrop
	{
	opacity: 0.01;
	}

.media-video:hover .jw-controls,
.media-video:hover .jw-controls-backdrop
	{
	opacity: 1;
	}

#mediaspace.captions-bottom.has_engagement_chart div.jw-text-track-container,
#mediaspace.captions-bottom.has_engagement_chart.jw-flag-user-interface.jw-state-paused div.jw-text-track-container
	{
	border-bottom: 30px solid rgba(0,0,0,0);
	}

#mediaspace.media-audio.has_engagement_chart
	{
	height: 84px !important;
	}

#mediaspace.has_engagement_chart .jw-controlbar
	{
	max-height: 112px;
	}

#tdr_2_col_nav 
	{
	width: 150px;
	}

.jwplayer video
	{
	height: auto;
	max-height: 100%;
	}
