/* IWDC http://iwdc.ucsd.edu */

body #tdr_login_content, 
body #tdr_title_content, 
body #tdr_nav_content,
body #tdr_search_content, 
body #tdr_crumbs_content, 
body #tdr_content_content,
body #tdr_footer_content 
	{
    max-width: 1200px;
    width: expression(document.body.clientWidth > 1200 ? "1200px": "auto");
	}

#tdr_2_col_nav
	{
	width: 19%;
	}

#tdr_2_col_content
	{
	width: 79%;
	}

@media only screen and (max-width: 512px)
	{
	span.wideonly
		{
		display: none;
		}
	}

@media only screen and (max-width: 768px)
	{
	#tdr_2_col_nav
		{
		width: 100%;
		}

	#tdr_2_col_content
		{
		width: 100%;
		}
	}

div.styled
	{
	padding-left: 1em;
	}

dl 
	{
	margin-left: 1em;
	}

dt {
	font-weight: bold; 
	}

pre { font-size: 1.2em;}

hr {
	border: 0;
	width: 80%;
	color: #ddd;
	background-color: #ddd;
	height: 1px;
	clear: both;
}
table.directory {
	border-collapse: collapse;
	padding: 0;
	margin: 0 auto 20px auto;
	width: 100%;
}

table.directory td
	{
	font-weight: normal;
	margin: 0;
	border-width: 0 0 1px 0;
	border-style: solid;
	border-color: #eee;
	padding: 5px;
	padding-left: 0; 
	vertical-align: top;
	text-align: left; 
	}

div.lecture 
	{
	padding: 2px;
	}

table.directory tr.authentication a.PodcastLink,
table.directory tr.campusLogin a.PodcastLink
	{
	padding-right: 20px;
	background-image: url(../img/lock.png);
	background-repeat: no-repeat;
	background-position: right;
	}

table.directory tr.campusLogin a.PodcastLink
	{
	background-image: url(../img/Trident.png);
	}

table.directory div.restriction
	{
	position: relative;
	display: inline-block;
	}

table.directory div.restriction img
	{
	vertical-align: bottom;
	margin-bottom: 1px;
	}

table.directory div.restriction img.campus
	{
	border-radius: 2.5px;
	}

table.directory div.restriction img.lockOverlay
	{
	position: absolute; 
	top: 11px;
	left: 9px;
	height: 12px;
	}

table.directory tr.last  td {
	border: 0;
}
table.directory tr.odd  td {
}
table.directory td a
	{
	font-weight: normal;
	}

.LectureList .week
	{
	margin-top: 0.7em; 
	}

table.schedule td a,
.LectureList a
	{
	padding-left: 26px; 
	}

table.directory td.title {
	width: 65%;
}

div.timepieContainer
	{
	height: 25px; 
	width: 25px; 
	float: right; 
	}

div.timepieContainer svg, 
div.timepieContainer canvas 
	{
	float: right;
	margin: 4px 4px 4px -20px;
	}

table.directory td.prof {
	width: 25%;
}
table.directory td.links {
	width: 10%;
	text-align: right;
}

table.directory td.links img
	{
	height: 18px;
	width: 18px;
	}

table.directory td.links a.kaltura img
	{
	padding-right: 22px;
	background-repeat: no-repeat;
	background-size: 18px;
	background-position: right;
	}

table.directory td.links a.kaltura.audio img { background-image: url(https://podcast.ucsd.edu/img/icons/audio.png); }
table.directory td.links a.kaltura.screen img { background-image: url(https://podcast.ucsd.edu/img/icons/screencast.png); }
table.directory td.links a.kaltura.video img { background-image: url(https://podcast.ucsd.edu/img/icons/audio.png); }
table.directory td.links a.kaltura.dual img { background-image: url(https://podcast.ucsd.edu/img/icons/dualcast.png); }

table.directory td.c-logo {
	width: 80px;
}
table.directory td.c-title {
	width: auto;
}
table.directory td.c-links {
	width: 120px;
	text-align: right;
}

table {
	border: none;
	padding: 0;
}

.contactform {
	width: 300px;
}
.contactform td {
	border: 0;
}

.printOnly {
    display: none;
}

.highlightbig {
	background: #D5EAFF;
	font-weight: bold;
	font-size: 1.25em;
	padding: 3px;
}

blockquote {
	padding:5px 0 5px 30px;
}



dt a {
	font-weight: normal;
}
dl dd {
	margin-left: 2em;
	padding-bottom: 1.5em;
}
dl {
	clear: both;
}
dl.contact dt {
	float:left; width: 6em;
}
dl.contact dd {
	width: 15em;
	padding: 0 0 1em 0;
}

.announce {
	border: 2px solid #2457A5;
	padding: .25em 1em;
	margin-bottom: .5em;
}

/* Faculty Styles */
.facinfo { 
	float: left;
	width: 215px;
	justify: full; 
	margin: 0 10px;
	padding-top: 0;
	}

.info-signup { background: #fff url('../img/info-signup.png') top center no-repeat; }
.info-call { background: #fff url('../img/info-call.png') top center no-repeat; }
.info-faq { background: #fff url('../img/info-faq.png') top center no-repeat; }

#faculty-info h2 {
	text-align: center;
	border-bottom: 1px solid #aaa;
	margin-bottom: 0.5em;
	padding-bottom: 0.5em;
	}

#faculty-info .info-call h2{
	padding-top: 140px;
}

#faculty-info .info-call h3
	{
	color: #555; 
	}

#faculty-info .big-link {
	display: block;
	height: 140px;
	width: 200px;
	text-indent: -999em;
}
#faculty-info .big-link:focus, 
#faculty-info .big-link:hover {
	background: none;
	border: 0;
}

/* Student Styles */
.stuinfo { 
	float: left;
	width: 215px;
	margin: 0 10px;
	padding-top: 140px;
}
.stuinfo span { font-size: 1.25em; font-weight: bold; display: block; }
.info-rss { background: #fff url('../img/info-rss.png') top center no-repeat; }
.info-call { background: #fff url('../img/info-call.png') top center no-repeat; }
.info-ask { background: #fff url('../img/info-askprof.png') top center no-repeat; }

/* LiveSearcher styles */
div.hiddenTerm, .hiddenRow {
	display: none; 
	}

#agreement_search_div, #pastcourses_search_div, #courses_search_div ,#community_search_div
	{
	background-color: #e1f5ff;
	padding: 0.5em;
	margin-bottom: 0.5em;
	}

#agreement_search_div label, #pastcourses_search_div label, #courses_search_div label, #community_search_div label
	{
	font-weight: bold;
	font-size: 1.4em;
	}

#agreement_search_div label,#pastcourses_search_div label,#courses_search_div label, #community_search_div label
	{
	display: none;
	}

#agreement_search_div input,#pastcourses_search_div input,#courses_search_div input, #community_search_div input
	{
	font-size: 16px;
	width: 70%;
	margin: 0;
	padding: 5px;
	height: auto;
	}

#LiveSearchInputBox.placeholder
	{
	color: #888;
	font-style: italic;
	size: 80%;
	}

a.current-media {
	display: block;
	line-height: 25px;
	text-align: left;
	border: 2px solid #458BD1;
	/*font-weight: bold !important;*/
	text-decoration: none;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.other-media {
	display: block;
	line-height: 25px;
	border: 1px solid #ddd;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

table.schedule a, 
	{
	text-align: center;
	}

.LectureList a
	{
	text-align: left;
	font-size: 90%;
	}

a.mismatch {
	}

a.mismatch.video{
	background: #fff url(../img/icons/screencast.png) 5px 50% no-repeat;
	background-size: 16px 16px; 
	}

a.mismatch.audio{
	background: #fff url(../img/icons/audio.png) 5px 50% no-repeat;
	background-size: 16px 16px; 
	}

a.mismatch.dualcast{
	background: #fff url(../img/icons/video.png) 5px 50% no-repeat;
	background-size: 16px 16px; 
	}
a.instructor-only.video, a.instructor-only.audio {
	background: #fdd; 
	}

a.instructor-only:after {
	display: block;
	margin-top: -0.7em;
	height: 1.2em;
	content: "(offline)";
	font-style: italic;
	font-size: 80%;
	line-height: 1.3em;;
	}

/* Styles for Tabs */
#Clicker {
	clear: both;
}
div #Tabber 
	{ 
	clear: both; 
	margin: 0 0 0.4em 0; 
	padding-top: 3px; 
	min-width: 30em;
	}

#Tabber ul.tablist {
	clear: both;
	padding: 3px 0;
	margin: 0;
	border-bottom: 1px solid #006a96;
	font: bold 16px "Helvetica Neue", Arial, sans-serif;
	line-height: 150%; 
	}

#Tabber ul.tablist li {
	list-style: none;
	margin: 0;
	display: inline;
	}
#Tabber ul.tablist li a {
	color: #fff;
	padding: 6px 8px;
	margin-left: 3px;
	border: 1px solid #006a96;
	border-bottom: none;
	background: #006a96;
	text-decoration: none;
	border-radius: 5px 5px 0 0;

	letter-spacing: .5px;
	font-weight: 300;
	}

#Tabber ul.tablist li a:hover {
	color: white;
	background: #014663;
	}

#Tabber ul.tablist li.current a {
	color: #14518A;
	background: white;
	font-weight: 500;
	border-bottom: 1px solid white;
	}


/* Simple Tabs */
#tdr_nav_list li.right
	{
	float: right;
	}

#tabs .tabnav {
	border-bottom: 1px solid #ccc;
	width: 100%;
}
#tabs {
	font-size: 90%;
	margin: 20px 0;
}
#tabs ul {
	float: left;
	background: #fff;
	width: 500px;
	padding-top: 4px;	
	height: 35px;
}
#tabs li {
	margin-left: 8px;
	list-style: none;
	border: none;
}
* html #tabs li {
	display: inline;
}
#tabs li, #tabs li a {
	float: left;
}
#tabs ul li.active {
	border: 1px #ccc solid;
	border-bottom: 0;
	background: #fff;
	margin-bottom: 0;
	-moz-border-radius: 4px 4px 0px 0px;
	-webkit-border-radius: 4px 4px 0px 0px;
	border-radius: 4px 4px 0px 0px;
}
#tabs ul li.active a {
	color: #06C;
	height: 1.5em;
}
#tabs div {
	background: #fff;
	clear: both;
	padding: 15px;
	min-height: 200px;
}
#tabs div h3 {
	margin-bottom: 12px;
}
#tabs div p {
	line-height: 150%;
}
#tabs ul li a {
	text-decoration: none;
	padding: 8px;
	color: #555;
	font-weight: bold;
}
.thumbs {
	float:left;
	border:#000 solid 1px;
	margin-bottom:20px;
	margin-right:20px;
}


#tabs #courses, #tabs #community {
	padding: 0;	
}
/*
#tabs #courses fieldset span{
	color: #fff;
	font-size: 16px;
	text-shadow: 1px 1px 0 #000;
}*/

#tabs #courses fieldset input{
	width: 35%;
}

#tabs #courses fieldset {
	padding: .5em;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	border: 0;
	background: #cdeb8e; /* Old browsers */
	background: -moz-linear-gradient(top,  #cdeb8e 0%, #a5c956 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cdeb8e), color-stop(100%,#a5c956)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #cdeb8e 0%,#a5c956 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #cdeb8e 0%,#a5c956 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #cdeb8e 0%,#a5c956 100%); /* IE10+ */
	background: linear-gradient(top,  #cdeb8e 0%,#a5c956 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdeb8e', endColorstr='#a5c956',GradientType=0 ); /* IE6-9 */
	
}



/* Podcast Detail */
#LectureHeader h2
	{
	float: left;
	margin-bottom: 0;
	}
#LectureHeader #MediaListPanel, #LectureHeader #BadMediaListPanel, #LectureHeader #AuthMediaPanel
	{
	display: block;
	float: right;
	}

#LectureHeader .mediatype {
	padding: 0;
	margin: 0;
	display: inline;
	} 

.mediatype li {
	display: inline-block;
	padding: 0;
	margin: 0;
	}
	
.mediatype.bad li a{
	color: red;
	}

.mediatype li a {
	display: block;
	margin-right: 0.3em;
	}

.mediatype li.current a {
	font-weight: bold;
	}
	
.mediatype img
	{
	height: 16px;
	width: 16px;
	vertical-align: middle;
	margin-right: 2px;
	}

#actionLinks li
	{
	position: relative; 
	}

div.calloutAnchor div.callout > p:first-child
	{
	margin-top: 0;
	}

div.callout:focus
	{
	outline: none;
	}

div.calloutAnchor.activated div.callout
	{
	display: block;
	}


#subscribeInstructions
	{
	width: 40em;
	}

#subscribeInstructions .instructions p
	{
	margin-left: 2em;
	}

#helpInstructions
	{
	width: 40em;
	}

#helpInstructions ul,
#helpInstructions ul li
	{
	color: black; 
	list-style-type: none;
	text-shadow: none; 
	margin-left: 0;
	padding-left: 0;

	}

#helpInstructions .shortcut
	{
	display: inline-block;
	text-align: right; 
	width: 4em; 
	color: black;
	}
#helpInstructions .shortcut span
	{
	border: 1px solid #aaa;
	background-color: #eee; 
	border-radius: 3px;
	padding: 1px 3px 2px; 
	font-family: Courier;

	}

#helpInstructions .action
	{
	color: #777;
	}

#helpInstructions #currentTime
	{
	width: 100%; 
	}

#subscribeTip div
	{
	width: 12em;
	margin-top: -1.6em;
	padding-bottom: 0;
	color: #888;
	font-style: italic;
	}

div.calloutAnchor div.callout
	{
	display: none;
	right: auto; 
	}


/* Callout Panel - for Subscribe instructions, problem report, etc */
div.calloutAnchor
	{
	position: relative;
	}

div.calloutAnchor input[type="button"]
	{
	}

div.calloutAnchor div.callout p
	{
	margin: 1em 0;
	}



div.calloutAnchor div.callout.reportCaptionPanel
	{
	min-width: 13em; 
	right: 0; 
	}

#actionLinks li a
	{
	padding-left: 20px; 
	background-repeat: no-repeat;
	}

a.LikeButton { background-image: url(../img/podcast-icon-like.gif); }
a.LikeButton.unliked { background-image: url(../img/thumb_up.png); }
a.LikeButton.liked 
	{ 
	background-image: url(../img/thumb_up_bw.png); 
	}
#viewTranscriptLink { background-image: url(../img/transcript.png); }
a.problemLinkButton { background-image: url(../img/podcast-icon-report-problem.gif); }
a.captionLinkButton { background-image: url(../img/podcast-icon-like.gif); }
a.DownloadFileLink { background-image: url(../img/podcast-icon-Download.gif); }
a.DownloadLink { background-image: url(../img/podcast-icon-Download.gif); }

div.ProblemReportNotePanel,
#reportProblem_Panel
	{
	clear: both;
	}

div.calloutAnchor div.reportProblemPanel.callout
	{
	position: absolute;
	top: 2em;
	right: 0; 
	}
	
#problem_other
	{
	width: 30em;
	}

.meta.afterlecture
	{
	float: right;
	}

.meta {
	color: #555;
	margin-left: 0 !important;
	padding-left: 0 !important;
	display: block;
	} 
.meta > li {
	font-weight: bold;
	border-left: 1px solid #ddd;
	margin-left: 0;
	padding: 0 0.1em 0 0.3em;
	list-style: none;
	display: inline;
	}

.meta > li.first {
	margin-left: 0;
	border-left: none;
	list-style: none;
	display: inline;
	}


#tdr_2_col_nav ul.podcast-list,
#tdr_2_col_nav ul.podcast-list li
	{
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	}

#tdr_2_col_nav ul.podcast-list li
	{
	border-bottom: 1px solid #ccc;
	padding: 10px 0;
	}

#likes
	{
	margin-top: 5px;
	}

ul.meta.afterlecture
	{
	clear: right; 
	}

#likes 
	{
	float: left; 
	clear: left; 
	font-weight: bold;
	color: #458BD1;
	}

/* Override CWO's bad bad style */

.button.slim
	{
	padding: .1em .25em;
	margin-right: auto;
	}

.button:focus
	{
	outline: auto; 
	}

.clear
	{
	clear: both;
	height: 0px;
	}


#tdr_content,
#tdr_2_col_content
	{
	overflow: visible; 
	}

span.feedURL
	{
	display: block;
	border: 1px dotted #999;
	margin: 5px 0;
	font-size: 90%;
	padding: 0.3em;
	background-color: #eee;
	border-radius: 5px;
	}

div.calloutAnchor 
	{
	position: relative; 
	display: inline-block;
	}

#actionLinks div.calloutAnchor
	{
	display: inline-block;
	}

div.callout {
	border: 1px solid #888;
	background-color: white;
	border-radius: 1em; 
	padding: 1em;
	font-weight: normal; 
	color: black;
	text-shadow: 2px 2px 4px rgba(100,100,100,0.4);
	padding: 10px;
	box-shadow: 0px 0px 20px #999;
	min-height: 50px;
	z-index: 1; 
	
	position: absolute;
	top: 37px;
	/*box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;*/
	}

.callout::before 
	{
	content: "";
	width: 0px;
	height: 0px;
	border: 0.8em solid transparent;
	position: absolute;
	}

.callout.bottom-right::before 
	{
	right: 3em;
	top: -21px;
	border-bottom: 10px solid #444;
	}

.callout.bottom-left::before 
	{
	left: 3em;
	top: -21px;
	border-bottom: 10px solid #444;
	}

#helpContainer .callout.bottom-left::before 
	{
	left: 1em; 
	}

.callout h4
	{
	border-bottom: 1px solid #ddd;
	padding-bottom: 0.5em; 
	}

div.iTunes.instructions h3:before,
div.iOS.instructions h3:before
	{
	content: "";
	display: inline-block;
	height: 24px;
	width: 24px;
	vertical-align: bottom;
	border: none;
	border-radius: 7px;
	margin-right: 4px;
	}

div.iTunes.instructions h3:before
	{
	background: url(../img/iTunes-icon.png) -3px -3px; 
	border-radius: 12px;
	}

div.iOS.instructions h3:before
	{
	background: url(../img/iosPodcasts-icon.png); 
	}


div.auth .ifNoAuth,
div.noauth .ifAuth
	{
	display: none; 
	}

.feedbackContainer .msg
	{
	display: block;
	margin: 0.5em 0; 
	}

ul#community_list
	{
	list-style-type: none;
	}
ul#community_list li
	{
	margin-left: 0;
	padding: 0.3em 0;
	border-bottom: 1px dotted #ccc;
	}

.msg.cell
	{
	/* The covid banner is injecting css that affects this style! */
	margin-bottom: 0.5em !important; 
	}
