a:link, a:visited
	{
	color: #0b4a67;
	}
a:hover, a:active
	{
	color: #016691;
	}
#tdr_title
	{
	background: none;
	letter-spacing: 1px;
	}

#tdr_login
	{
	display: none;
	}

#tdr_title a:link,
#tdr_title a:visited
	{
	color: black;
	font-family: Helvetica Neue, Helvetica, sans-serif;
	}

#tdr_nav, #tdr_footer
	{
	background: #006a96;
	}

#tdr_nav_list li li a, #tdr_nav_list a, #tdr_nav_list span
	{
	font-size: 16px;
	padding: 10px 15px;
	line-height: 20px;
	color: white;
	text-shadow: none;
	border: none;
	background: none;
	}

#tdr_nav_list a:hover,
#tdr_nav_list span:hover,
#tdr_nav_list li.sfHover,
#tdr_nav_list li.sfHover li
	{
	background-color: #014663;
	}

#tdr_nav_list li.sfHover li a:hover
	{
	background-color: white;
	color: black;
	}

#tdr_footer, #tdr_footer a, #tdr_footer a:visited
	{
	color: white;
	text-shadow: none;
	}

#tdr_footer a, #tdr_footer a:visited
	{
	text-decoration: underline;
	}
#tdr_footer_content
	{
	font-size: .9em;
	background: transparent url(../img/ucsd-footer-logo-white.png) right 1.4em no-repeat;
	background-size: 158px 30px;
	}

#tdr_title_ucsd_title
	{
	background: transparent url(../img/uc_san_diego.png) 0 0 no-repeat;
	width: 230px;
	height: 51px;
	background-size: 230px 51px;
	}
div.styled
	{
	background: #eee;
	border: 1px solid #d8d7d7;
	}

#page_nav li
	{
	border-top: 1px solid #d8d7d7;
	}

h1, h2, h3, div.styled h2 {
	color: black;
	font-weight: 400;
	line-height: 1.1;
	}

div.styled h2
	{
	padding-left: 0em;
	}

#page_nav li a
	{
	color: black;
	padding: 1em 1em;
	}

#page_nav li a.active
	{
	padding-left: 0;
	}

#page_nav li:hover,
#page_nav li:hover a
	{
	background-color: #006a96;
	color: white;
	}

a:link, a:visited
	{
	transition: none;
	}

h1 {
	color: #006a96;
	letter-spacing: .5px;
	font-size: 39px;
	}

h2 {
	font-size: 24;
	}

div.flashbag p.message
	{
	margin-bottom: 0;
	}
div.flashbag div.detail a.detail-toggle
	{
	color: #888;
	font-style: italic;
	font-size: 80%;
	}
div.flashbag div.detail span.detail-content
	{
	display: none
	}

div.flashbag div.detail.verbose span.detail-content
	{
	display: block;
	}

@media all and (max-width: 600px) {

div.quarter_content table.directory
	{
	display: block;
	}
div.quarter_content table.directory tbody
	{
	display: block;
	}
div.quarter_content table.directory tr 
	{ 
	display: block;
	width: 99%; 
	margin: 10px 0;
	border-bottom: 1px solid #ccc;
	}

div.quarter_content table.directory tr:last-child
	{
	border-bottom: none;
	}

div.quarter_content table.directory tr.hiddenRow
	{
	display: none;
	}

div.quarter_content table.directory td
	{
	display: inline-block;
	border-bottom: none;
	}

div.quarter_content table.directory td.title 
	{ 
	padding-top: 0.1em;
	font-size: 110%;
	width: 100%;
	}
div.quarter_content table.directory td.prof
	{
	width: calc(100% - 80px);
	font-style: italic;
	font-size: 95%;
	}
div.quarter_content table.directory td.links 
	{
	width: 55px;
	padding: 5px 0 0;
	margin-bottom: 10px;
	}
div.quarter_content table.directory td.links img
	{
	height: 15px; width: 15px;
	}
span.searchNote
	{
	margin-top: 5px;
	display: inline-block;
	}
}
